name: Build, test and deploy Gradle app to Azure Web App - IndicacoesPyLadies

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'microsoft'

      - name: Build with Gradle
        working-directory: backend
        run: ./gradlew build

      - name: Run tests with Gradle
        working-directory: backend
        run: ./gradlew test

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: gradle-app
          path: backend/build/libs/*.jar

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: gradle-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_BC91E3FD501C44CE82346340FC437A45 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_B7D275A5F69C4B16A3C0D1ACEB1432FA }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_166CC947706547D0ABDC06D688D1E293 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'IndicacoesPyLadies'
          slot-name: 'Production'
          package: '*.jar'
